html, body {
    margin: 0;
    padding: 0 !important;
    width: 100%;
    height: 100%;
    font-family: 'Playfair Display', serif;
    font-weight: lighter;
    color:rgba(13, 13, 13, 0.75);

}

.whitespace {
    width: 100%;
    height: 100px;
}

@media (max-width: 768px) {
    .whitespace {
        display: none;
    }
}

.flex-container {
    display: flex;
}

/* NAVBAR START */
#navbar {
  width: 100px; 
  height: 300px;
  position: fixed;  
  top: 175px; 
  left: 0;
  z-index: 1;
  background-color: transparent; 
}

#navbar li {
    list-style: none;
    transform: rotate(270deg);
    display: block;
    height: 90px;
    padding: 10px;
}

#navbar li a{
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(13, 13, 13, 0.5);
}

#navbar li a:hover {
    color: white;
}

/* HOME START */
.line {
    color:rgba(13, 13, 13, 0.75);
    width: 24em;
    top: 50%;
    margin: auto;
    border-right: 2px solid rgba(13, 13, 13, 0.75);

    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

.anim-typewriter {
    animation: typewriter 6s steps(40) 1s 1 normal both,
    blinkTextCussor 1s steps(40) infinite normal;
}

.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero h1 {
    font-weight: lighter;
    text-align: center;
    font-size: 7vw;
    color: darkolivegreen
}

.hero h5 {
    font-weight: lighter;
    font-size: 3vw;
    color: darkolivegreen;
}

@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 59%;
    }
}

@keyframes blinkTextCussor {
    from {
        border-right-color:rgb(13, 13, 13, 0.75);
    }
    to {
        border-right-color: transparent;
    }
}

.scroll-down {
    color:rgba(13, 13, 13, 0.75);
    height: 20px;
    width: 20px;
    position: absolute;
    left: 50%;
    bottom: 100px;
    animation: fade_move_down 3s cubic-bezier(0.19, 1, 0.22, 1) infinite;
}

@keyframes fade_move_down {
    0% {
        transform: translate(0, -20px);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translate(0, 20px);
        opacity: 0;
    }
}

/* STYLE START */
#style {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 2fr 2fr 2fr;
    height: 200vh;
} 

.style-text {
    font-size: 0.85vw;
    text-align: center;
    padding: 100px;
    line-height: 40px;
}

.line-left {
    border-left: 1px solid rgba(13, 13, 13, 0.25);
}

#style img {
    height: 400px;
    width: 300px;
    border-radius: 45% 45% 0% 0%;
    position: relative;
    left: 30%;
}

@media (max-width: 1200px) {
    .line-left {
        border-left: none;
    }
}

@media (max-width: 900px) {
    #style {
        grid-template-columns: 1fr;
        height: auto;
    }
    .style-text {
        font-size: 1.5vw;
        padding: 75px;
    }
    .style-photo {
        display: none;
    }
}
@media (max-width: 600px) {
    .style-text {
        font-size: 2vw;
    }
}

/* ABOUT START */
#about {
    background-image: url(https://images.unsplash.com/photo-1488197047962-b48492212cda?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1494&q=80);
    height: 140vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

#about-heading {
    grid-column: 1/4;
    grid-row: 1;
}

#about-heading h1 {
    color:rgba(13, 13, 13, 0.75);
    font-size: 7vw;
    font-weight: lighter;
    padding: 0px 150px;
    letter-spacing: 10px;
}

.about-section {
    color: whitesmoke;
    font-size: 1vw;
    letter-spacing: 0.5px;
    padding: 0px 50px;
    margin: 0px 150px;
}

@media (max-width: 1200px) {
    .about-section {
        font-size: 1.5vw;
    }
}
@media (max-width: 900px) {
    #about-heading h1 {
        font-size: 10vw;
    }
    .about-section {
        font-size: 1.8vw;
    }
}
@media (max-width: 600px) {
    #about-heading h1 {
        font-size: 15vw;
    }
    .about-section {
        font-size: 2.3vw;
        padding: none;
        margin: 0px 100px;
    }
}

/* SKILLS START */
#skills {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: 5vh;
    grid-gap: 0px;
    height: 100vh;
    max-height: fit-content;
    color:rgba(13, 13, 13, 0.75);
    padding-left: 100px;
}

.skills-heading {
    text-transform: uppercase;
    text-align: left;
    font-size: 2vw;
    letter-spacing: 2px;
    padding-left: 5em;
    padding-top: 1em;
    grid-column: 1/2;
    grid-row: 1;
    z-index: 1;
}

.skills-photo { 
    grid-column: 1/2;
    grid-row: 1;
    padding-left: 50px;
}

.skills-photo img{
    object-fit: cover;
    height: 300px;
    width: 300px;
    border-radius: 100%;
    z-index: 2
}

.skills-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat (4, 10vh);
    grid-column-gap: 100px;
    margin-right: 100px;
    padding: 20px 50px;
}

.skill p {
    font-size: 1vw;
}

@media (max-width: 1200px) {

}

@media (max-width: 900px) {
    #skills {
        grid-template-columns: 1fr;
    }
    .skills-heading {
        display: none;
    }
    .skills-photo {
        display: none;
    }
    .skill p {
        font-size: 1.5vw;
    }
}
@media (max-width: 600px) {
    #skills {
        height: 115vh;
    }
    .skills-list {
        grid-template-columns: 1fr;
        
    }
    .skills-list hr {
        display: none;
    }
    .skill p {
        font-size: 2vw;
    }
}


/* PROCESS START */
#process {
    background-image: url(https://images.unsplash.com/photo-1536009190979-329b94ad4d57?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80);
    height: 130vh;
    padding-left: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 2fr;
    grid-template-areas: 
    "heading heading heading . "
    "num1 num2 num3 ."
    "step1 step2 step3 . ";
}
#process-heading {
    grid-area: heading;
    color: white;
    font-size: 4vw;
    letter-spacing: 30px;
    text-align: left;
    text-transform: uppercase;
    padding: 50px 0px 0px 50px;
}

.number {
    color: white;
    font-size: 6vw;
    text-align: left;
    padding-left: 50px;
}
.number1 {
    grid-area: num1;
}
.number2 {
    grid-area: num2;
}
.number3 {
    grid-area: num3;
}

.process-step {
    color: white;
    font-size: 1vw;
    padding: 0px 50px;
}
.step1 {
    grid-area: step1;
}
.step2 {
    grid-area: step2;
}
.step3 {
    grid-area: step3;
}

@media (max-width: 1200px) {

}

@media (max-width: 900px) {
    #process {
        display: none;
    }
}
@media (max-width: 600px) {

}

/* DIVIDER START */
#divider img {
    width: 100vw;
    height: 200px;
    object-fit: cover;
    visibility: collapse;
}

@media (max-width: 1200px) {

}

@media (max-width: 900px) {
    #divider img {
        visibility: visible;
    }
}
@media (max-width: 600px) {

}
/* FEATURED START */
#featured-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 50px;
    color:rgba(13, 13, 13, 0.75);
}

.featured-heading h2 {
    font-size: 3vw;
    font-weight: lighter;
    text-align: center;
    padding: 2em;
    letter-spacing: 5px;
}

.project-description {
    text-align: center;
    padding: 100px 200px;
}

.project-description h6 {
    font-size: 1vw;
    letter-spacing: 1px;
    line-height: 50px;
    text-transform: uppercase;
}

.project-description p{
    font-size: 1vw;
}

.see-more {
    height: 10px;
    width: 10px;
}

.see-more img {
    height: 10px;
    width: 10px;
}

.project-photo {
    object-fit: contain;
    height: auto;
    width: 20vw;
    position: relative;
    left: 15%;
    border-radius: 50%;
    margin-top: 100px;
}

.padding-top-175 {
    padding-top: 175px;
}

@media (max-width: 1200px) {
    .project-description {
        padding: 50px;
        position: relative;
        left: 60%;
    }
    .project-description h6 , .project-description p {
        font-size: 1.5vw;
    }
    .project-photo {
        visibility: hidden;
    }
    .padding-top-175 {
        padding-top: none;
    }
}

@media (max-width: 900px) {
    .project-description {
        padding: 25px;
    }
    .project-description h6, .project-description p {
        font-size: 1.75vw;
    }
}
@media (max-width: 600px) {
    .project-description h6 , .project-description p {
        font-size: 2vw;
    }
}

/* QUOTE START */
#quote {
    color:rgba(13, 13, 13, 0.75);
    background-color: linen;
    height: 150px;
    text-align: center;
    padding-top: 50px;
}
#quote h4 {
    font-size: 3vw;
    border: 1px solid rgba(13, 13, 13, 0.25);
    height: 250px;
    width: 700px;
    position: relative;
    left: 25%;
    bottom: 100%;
    padding-top: 35px;
    
}
#quote h6 {
    font-size: 1.5vw;
    font-weight:500;
    position: relative;
    bottom: 250px;
    text-transform: lowercase;
    letter-spacing: 10px;
}

@media (max-width: 1200px) {
    #quote {
        display: none;
    }
}

@media (max-width: 900px) {

}
@media (max-width: 600px) {

}


/* CONTACT START */
#contact {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "header"
    "info";
    margin: 0px 150px;
}

#contact h1 {
    grid-area: header;
    font-size: 6vw;
    font-weight: lighter;
    letter-spacing: 10px;
    line-height: 150px;
    text-align: center;
    text-transform: uppercase;
    color: darkolivegreen;
}

#contact h1 span {
    letter-spacing: 30px;
}

#contact h6 {
    grid-area: info;
    font-size: 1.75vw;
    font-weight: lighter;
    text-align: center;
    line-height: 60px;
}

#contact h6 a {
    color: darkolivegreen;
    text-decoration: none;
}

@media (max-width: 1200px) {

}
@media (max-width: 900px) {
    #contact h1 {
        line-height: 130px;
        letter-spacing: 20px;
    }
    #contact h6 {
        font-size: 2vw;
        line-height: 55px;
    }
}
@media (max-width: 600px) {
    #contact h1 {
        line-height: 50px;
    }
    #contact h6 { 
        font-size: 3vw;
    }
}
/* PROJECT PAGE START */

.project-page {
    display: grid;
    grid-template-columns: 1fr;
    height: 150vh;
    text-align: center;
}

.project-heading {
    text-transform: uppercase;
    letter-spacing: 2em;
    font-size: 2vw;
    padding: 100px 0px 0px 50px;
}

.project-info {
    font-size: 1vw;
}

.project-video video {
    height: auto;
    width: 65vw;
    border: 1px solid #efdcca;
}

@media (max-width: 1200px) {
    .project-heading {
        font-size: 3vw;
    }
    .project-info {
        font-size: 1.5vw;
    }
}
@media (max-width: 900px) {
    .project-heading {
        font-size: 3.5vw;
    }
    .project-info {
        font-size: 2vw;
    }
}
@media (max-width: 600px) {
    .project-heading {
        font-size: 4vw;
    }
    .project-info {
        font-size: 3vw;
    }
}

/* FOOTER START */
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: white;
    background-color: #efdcca; 
}

.logo {
    grid-column: 2/3;
    grid-row: 1/4;
    height: 300px;
    width: auto;
    justify-self: center;
}

footer p {
    text-align: center;
    padding: 100px 75px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: rgba(13, 13, 13, 0.25);
}

@media (max-width: 1200px) {

}
@media (max-width: 900px) {
    .attributions {
        display: none;
}
@media (max-width: 600px) {

}
/* FOOTER END */
